body {
    font-family: sans-serif;
    color: white;
    background: conic-gradient(from 25.09deg at -8.87% 113.43%, #000F24 -3.75deg, #00CEB2 66.54deg, #AD00FF 187.5deg, #0E0A9A 279.38deg, #000F24 356.25deg, #00CEB2 426.54deg);

}

h1 {
    color: white;
}

h3 {
    color: white;
}

a:visited {
    color: #9F9BB8
}

a:link {
    color:#9F9BB8
}

/* hr {
    background-color: none ;
    width: 10%;
    color: white;
    /* border-style: none;
    /* border-top-style: dotted;
    border-color: grey; */
    /* border-width: 10px; */