body {
    background-color: #121212;
    font-family: sans-serif;
    color: white;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

a:visited {
    color: #9F9BB8
}

hr {
    color:#9F9BB8;
    border-style: none;
}

/* hr {
    background-color: none ;
    width: 10%;
    color: white;
    /* border-style: none;
    /* border-top-style: dotted;
    border-color: grey; */
    /* border-width: 10px; */